name: Build Mod

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 8
      uses: actions/setup-java@v2
      with:
        java-version: '8'
        distribution: 'adopt'
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: unset JAVA_HOME && ./gradlew build
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: levelhead-mod
        path: build/libs/levelhead-1.0.jar
